* {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  height: 200vh;
}

nav {
  background: blue;
  position: fixed;
  top: 20px;
  width: 100%;
}

nav > ul > li {
  display: inline;
  color: #fff;
}
